<mat-toolbar id="toolbar" color="primary">
  <button mat-icon-button class="icon" aria-label="">
    <mat-icon>menu</mat-icon>
  </button>
  <span>RINKO MANGA LIGHT NOVEL SHOP</span>
  <form class="input_container">
    <mat-form-field class="input">
      <mat-label>Tìm kiếm</mat-label>
      <input matInput>
    </mat-form-field>
  </form>
  <div>
    <button id="signup_btn" mat-button>Đăng kí</button>
    <span>|</span>
    <button id="login_btn" mat-button>Đăng nhập</button>
  </div>
  <button mat-icon-button class="icon" aria-label="">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <button mat-icon-button class="icon" aria-label="">
    <mat-icon>home</mat-icon>
  </button>
</mat-toolbar>
