//Content
#content {
  margin: 10px;
}

#type_title {
  margin: 30px;
  font-size: 25px;
  color: purple;
  font-weight: 500;
}

.item_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 20px;
}

.card {
  $margin: 5px;
  margin: $margin;
  height: calc(100% - $margin * 2);
  width: 270px;
  max-width: 500px;
  background-color: lightpink;
  border-radius: 2%;
}

#image_container {
  display: flex;
  justify-content: center;
}

#image {
  object-fit: cover;
  padding: 5%;
  width: 100%;
  height: 380px;
  align-self: center;
}

#info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
  font-weight: 500;
}

#btn_container {
  display: flex;
  justify-content: center;
  background-color: palevioletred;
}

#add_btn {
  margin: 0px 30px;
  width: 40%;
  font-weight: 500;
  background-color: white;
  color: black;
  font-size: smaller;
}

#add_btn:hover {
  background-color: blueviolet;
}

#status {
  margin: 10px
}

#quantity_btn {
  height: 80%;
  display: flex;
  flex-direction: column;
}

.btn {
  height: 50px;
  font-weight: 500;
  margin: 5px 0px;
  background-color: white;
  color: black;
  font-size: medium;
}

.btn:hover {
  background-color: blueviolet;
}