<mat-card class="card">
  <div id="image_container">
    <img id="image" mat-card-image src="{{item_cart.image}}">
  </div>
  <mat-card-content id="info">
    <p>Tên: {{item_cart.name}}</p>
    <p>Giá: {{item_cart.price | currency: "VND"}}</p>
    <p>Nhà cung cấp: {{item_cart.publisher}}</p>
    <p *ngIf="item_cart.outOfOrder == false">Tình trạng: Còn hàng</p>
    <p *ngIf="item_cart.outOfOrder == true">Tình trạng: Hết hàng</p>
    <br>
  </mat-card-content>
  <mat-card-actions id="btn_container">
    <button mat-button id="add_btn">XÓA</button>
    <div id="quantity_btn">
      <button mat-button class="btn">+</button>
      <button mat-button class="btn">-</button>
    </div>
  </mat-card-actions>
</mat-card>