.spacer {
  flex: 1 1 auto;
}

.input_container {
  margin-top: 20px;
  padding-left: 10%;
  width: 100%;
}

.input {
  width: 250%;
}

td {
  padding-right: 8px;
}

.item_container {
  margin: 5px;
  width: 270px;
  max-width: 1000px;
  background-color: plum;
  border-radius: 2%;
}

#image_container {
  display: flex;
  justify-content: center;
}

#image {
  margin: 10px;
  width: 95%;
  align-self: center;
}

#info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

#btn_container {
  display: flex;
  justify-content: center;
}

#add_btn {
  margin: 0px 20px 5px 20px;
  height: 120%;
  width: 100%;
  background-color: white;
  color: black;
  font-size: smaller;
}

#add_btn:hover {
  background-color: darkorchid
}

#add_btn:active {
  background-color: purple;
}

#content_container {
  margin: 20px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 50px 20px;
}

#toolbar {
  height: 80px;
}

#type {
  margin: 30px;
  font-size: 30px;
  color: purple;
  font-weight: 500;
}

.page_button {
  background-color: rgba(192, 189, 189, 0.822);
  margin: 10px;
}

#footer {
  display: flex;
  justify-content: center;
}

hr {
  width: 100%;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.336);
}
